<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AplikasiPembayaranSPP.Properties.Settings.DB_UKK_PEMBAYARAN_SPPConnectionString"
            connectionString="Data Source=WIN-8OCI4IO48IN;Initial Catalog=DB_UKK_PEMBAYARAN_SPP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>